* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: sans-serif; }

/****************/
/***HEADINGS***/
/************/
h1 {
  font-size: 3.2rem; }

/****************/
/***Icons***/
/************/
/****************/
/***Buttons***/
/************/
.header {
  background-image: linear-gradient(rgba(39, 39, 39, 0.85), rgba(39, 39, 39, 0.85)), url(/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  max-width: 100%;
  font-family: "Cutive", serif;
  color: white; }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 12rem; }
    .header-nav__item {
      font-size: 3.6rem;
      margin: 0rem 2.3rem; }
    .header-nav__item a {
      text-decoration: none;
      color: white;
      transition: all 0.2s; }
    .header-nav__item a:hover {
      color: skyblue; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -11rem; }
  .content__primary {
    font-weight: normal;
    font-size: 5.5rem; }
  .content__secondary {
    font-size: 4rem;
    font-weight: normal; }
  .content__btns {
    display: flex;
    margin-top: 4rem; }
    .content__btns-item {
      font-size: 1.2rem;
      font-weight: 600;
      width: 210px;
      height: 5.4rem;
      text-align: center;
      letter-spacing: 0.3rem;
      margin: 0rem 4rem;
      color: #ffffff;
      background: transparent;
      border: 0.3rem solid #ffffff;
      cursor: pointer;
      transition: all 0.5s ease-in-out; }
      .content__btns-item:hover, .content__btns-item:focus {
        background: #ffffff;
        color: #000000; }

.about-section {
  font-family: sans-serif;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 4%, #e8e8e8 95%);
  background: -webkit-linear-gradient(top, #f7f7f7 4%, #e8e8e8 95%);
  background: linear-gradient(to bottom, #f7f7f7 4%, #e8e8e8 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 );
  padding: 10rem 0rem 0rem 0rem; }

.about {
  width: 75%;
  margin: 0rem auto;
  text-align: center;
  font-size: 3.2rem; }
  .about > * {
    margin-bottom: 2.8rem; }
  .about__title {
    margin-bottom: 4rem; }

.experience {
  width: 70%;
  margin: 0rem auto;
  text-align: center;
  font-size: 3.2rem; }
  .experience__title {
    margin-bottom: 5rem; }
  .experience__gallery-item {
    max-width: 150px;
    max-height: 150px;
    margin: 3rem 2rem;
    transition: all 0.25s; }
    .experience__gallery-item:hover {
      transform: scale(1.15); }

.border {
  margin: 4.8rem auto;
  width: 60%;
  height: 3px;
  background-color: black; }

.portfolio-section {
  padding: 10rem 0rem 0rem 0rem;
  overflow: hidden;
  text-align: center;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #e8e8e8 0%, #2989d8 38%, #2989d8 58%, #e8e8e8 100%);
  background: -webkit-linear-gradient(top, #e8e8e8 0%, #2989d8 38%, #2989d8 58%, #e8e8e8 100%);
  background: linear-gradient(to bottom, #e8e8e8 0%, #2989d8 38%, #2989d8 58%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 ); }

.portfolio__grid {
  max-width: 90%;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem 2rem; }

.project {
  font-family: "Roboto", sans-serif;
  background-color: white;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s; }
  .project:hover {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5); }
  .project__imgdiv-item {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    display: block; }

.projectC__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2.7rem 0rem; }

.projectC__skills {
  display: flex;
  align-items: center;
  margin: 2.6rem 0rem;
  justify-content: center; }
  .projectC__skills-item {
    margin: 0rem 0.8rem;
    background-color: #dae2ec;
    color: #617d98;
    padding: 0.4rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    text-transform: uppercase; }

.projectC__btn {
  background-color: #daedfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem; }
  .projectC__btn-item {
    font-size: 1.809rem;
    font-weight: 600;
    background-color: green;
    color: white;
    padding: 0.9rem 0.8rem;
    margin: 0.3rem 2.3rem;
    cursor: pointer;
    transition: all 0.3s; }
    .projectC__btn-item:hover {
      background-color: #11aa11; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 5px 12px;
  border-radius: 6px;
  transition: all 0.25s; }

.fa:hover {
  opacity: 0.7;
  transform: scale(1.1); }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-github {
  background: #2d2f2d;
  color: white; }

.contact {
  overflow: hidden;
  margin: auto;
  text-align: center;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #e8e8e8 5%, #f7f7f7 96%);
  background: -webkit-linear-gradient(top, #e8e8e8 5%, #f7f7f7 96%);
  background: linear-gradient(to bottom, #e8e8e8 5%, #f7f7f7 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f7f7f7',GradientType=0 ); }
  .contact > * {
    margin-bottom: 4rem; }
  .contact__title {
    font-size: 6.4rem;
    margin-bottom: 5.5rem; }
  .contact__description {
    font-size: 3.2rem; }
  .contact__details {
    font-size: 3rem; }
    .contact__details-phone {
      margin-bottom: 2rem; }
    .contact__details-phone a,
    .contact__details-email a {
      color: #171616;
      text-decoration: none; }
      .contact__details-phone a:hover,
      .contact__details-email a:hover {
        color: #3b37d5; }
  .contact__resume {
    margin-bottom: 0.5rem; }
    .contact__resume-link img {
      max-width: 100px;
      max-height: 100px;
      margin-top: 25px;
      cursor: pointer; }

.footer {
  font-size: 1.6rem;
  background-color: #2989d8;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding: 2.5rem 0rem; }
